@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management</h1>
    <p class="lead">
        This is a simple employee management system using ASP.NET MVC <br />
        It contains data of employees, departments and employee's children
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employee Data</h2>
        <p>View, add, update or delete data of all the registered employees</p>
        <p><a class="btn btn-default" href="~/Home/Contact">View Data &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Children Data</h2>
        <p>View, add, update or delete data of all 
        the children of registered employees</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View Data &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departments</h2>
        <p>View, add, update or delete data of all the departments</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">View Data &raquo;</a></p>
    </div>
</div>